/* ==============================================================
/*	COLORES
/* ============================================================== */
	.blue1 { color: #00AFD7; }
	.blue2 { color: #009CDE; }
	.blue3 { color: #407EC9; }
	.blue4 { color: #236192; }
	.blue5 { color: #002554; }

	.bg-blue1 { background-color: #00AFD7; }
	.bg-blue2 { background-color: #009CDE; }
	.bg-blue3 { background-color: #407EC9; }
	.bg-blue4 { background-color: #236192; }
	.bg-blue5 { background-color: #002554; }
	.bg-gris-1 { background-color: #f6f6f6; }

	.white { color: #fff; }
	.black { color: #000; }
	.gris-1 { color: #f6f6f6; }
	.grey { color: #666666; }
/* colores */